@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap&subset=latin-ext');

@import "modules/glass.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background: $light-blue;
  background: url('../assets/img/bg.jpg') center center;
  background-size: cover;
  font-family: Roboto;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.button-add {
  padding: 12px 22px;
  font-size: 17px;
  margin: 48px 0 6px;
  border: none;
  background-color: $blue;
  color: #fff;
  position: relative;
}

.button-remove {
  background: none;
  border: none;
  color: $dark-blue;
  padding: 12px;
  font-size: 14px;
  position: relative;
}

.button-history {
  background: none;
  border: none;
  color: $dark-blue;
  padding: 12px;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 14px;
  z-index: 2;
}

.counter {
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 112px;
  position: relative;

  &__value {
    display: block;
    letter-spacing: .02em;
    padding-top: 64px;
    position: relative;
    color: $blue;
  }
}

.history {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: $light-blue;
  display: none;

  &__item {
    list-style: none;
    font-size: 1.3rem;
    color: $blue;
    line-height: 2em;
  }

  &__list {
    padding: 0;
    text-align: center;
  }

  &__span {
    color: $dark-blue;
  }

  &--js-active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}